footer {
  background-color: var(--color-primary);
}

h4, p {
  list-style-type: none;
  text-align: left;
  color: var(--color-secondary);
}

i {
  text-align: right;
}

a {
  text-decoration: none;
  background-color: var(--color-primary);
}

a:hover {
  color: #efefef;
  background-color: var(--color-primary);
}
