.top-bar {
  text-align: center;
  background-color: var(--color-primary);
}

.masthead {
  text-align: center;
}

ul {
  list-style-type: none;
}

nav a {
  display: inline-block;
  margin: 0;
}

a {
  padding: 1em;
  text-align: left;
  text-decoration: none;
  color: var(--color-secondary);
}

a:hover {
  color: var(--color-primary);
  background-color: #000;
}

icon {

}

@media only screen and (min-width: 38em) {

}
