body {
  margin: 0;
}

header {
  text-align: center;
  background-color: #e2e2e2;
}

.masthead {
  text-align: center;
}

ul {
  list-style-type: none;
  display: inline-block;
}

nav a {
  display: inline-block;
  margin: 0;
}

a {
  padding: 1em;
  text-align: left;
  text-decoration: none;
}

a:hover {
  color: #fff;
  background-color: #000;
}
