:root {
  --color-secondary: #000;
  --color-primary: #9bcccc;
  --color-accent: #fff;
  --color-neutral-beige: #e2e2e2;

  --font-primary: "Open Sans", sans-serif;
  --font-secondary: "Merriweather", serif;
}

html {
  font-family: var(--font-primary);
}

h1, h2, h3 {
  color: var(--color-primary);
  font-weight: bold;
}

h4, h6 {
  color: var(--color-secondary);
}

p, h5 {
  color: var(--color-neutral-beige);
  font-family: var(--font-secondary);
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

a:hover {
  color: var(--color-neutral-beige);
}

ul, ol, dl {
  list-style-type: none;
  text-decoration: none;
  color: var(--color-neutral-beige);
}

blockquote, cite, q {
  color: var(--color-primary);
}

mark {
  background-color: var(--color-primary);
}
