.border {
  padding-left: 4em;
  padding-right: 3em;
  margin: 0;
  border-right: 2px solid #efefef;
}

.donate {
  padding-left: 4em;
  padding-right: 3em;
  margin: 0;
}

.icon {
  color: var(--color-secondary);
}

.icon-card {
  background-color: var(--color-primary);
}

h3 {
  color: var(--color-secondary);
}

p {
  color: var(--color-secondary);
}
